.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95vw;
}

.gutter {
  background-color: red;
  background-repeat: no-repeat;
  background-position: 50%;

  opacity: 0.5;
}

.gutter.gutter-horizontal {
  background-color: grey;
  opacity: 0.1;

  height: 100%;
  border-radius: 10px;
  cursor: col-resize;
}

.split-one {
  min-width: 400px;
  margin-right: 2rem;
}

.split-two {
  min-width: 400px;
  margin-left: 2rem;
}

/* USED FOR STAR RATINGS MODULE IN STUDENT-FEEDBACK */
.star-rating {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}
/*  */

#us {
  margin-bottom: 20px;
}
