@media screen and (max-width: 1000px) {
  #lang {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  #logoText {
    display: none;
  }

  #lottiegif {
    height: 0;
    width: 0;
    display: none;
  }

  #link-header {
    font-size: 1.5rem;
  }

  #findOut {
    display: none;
  }

  #aboutInfo {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #logo {
    margin-right: 2rem;
  }

  #about-header {
    width: 15rem;
  }
}

#lang:hover {
  background-color: red;
}
