@media screen and (max-width: 1000px) {
  #lang {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  #logoText {
    display: none;
  }

  #secondList {
    display: none;
  }
}

#lang:hover {
  background-color: red;
}
